{# If you have a "Content Type" for header in Built.io Contentstack then use get() view helper to retrieve header entry. #}
{# e.g. set header = get("header_content_type_id") #}
{# And then render header values using the {{header.field_name}} #}
{% set header = get("header") %}
        <div class="header-container">
            <a href="{{header.navbar[0].href}}"> <img class="logo" src="{{header.logo.url}}" width="100px" /></a>
            <div class="nav">  
                   <ul>
                    {% for entry in header.navbar %}
                        <li><a href="{{ entry.href }}">{{ entry.title }}</a></li>
                        
                    {% else %}
                        <li>This would display if the 'item' collection were empty</li>
                    {% endfor %}
                    <li><a href="/blogs/1">blogs</a></li>
                   </ul>
                   
            </div>
        </div>
        
